body {
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    margin: 0;
    /* background: orange; */
    /* background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5)); */

}

.loginContainer {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 90px 90px 2000px #eb04c4, -90px -90px 2000px #eb04c4;
    width: 100%;
    max-width: 400px;
    padding-bottom: 100px;
    position: absolute;
    margin-top: 8%;
    margin-left: 34%;
}

.loginContainer h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

button {

    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }
}